---
layout: default
title: Publications
---

<h1>Journal Papers</h1>

{% for paper in site.data.publications %}
  {% if paper.journal %}
    <div class="pub-item">
      <strong>{{ paper.title }}</strong><br>
      {{ paper.authors }}<br>
      <em>{{ paper.journal }}</em>, {{ paper.year }}<br>
      {% if paper.DOI %}
        <a href="https://doi.org/{{ paper.DOI }}">DOI</a>
      {% endif %}
    </div>
    <br>
  {% endif %}
{% endfor %}

<h1>Preprints</h1>

{% for paper in site.data.publications %}
  {% if paper.preprint %}
    <div class="pub-item">
      <strong>{{ paper.title }}</strong><br>
      {{ paper.authors }}<br>
      {{ paper.preprint }}, {{ paper.year }}<br>
      {% if paper.link %}
        <a href="{{ paper.link }}">Link</a>
      {% endif %}
    </div>
    <br>
  {% endif %}
{% endfor %}
