<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Link to your stylesheet -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

  <!-- SEO + Meta Tags -->
  <meta name="description" content="Personal website of Tianyu Cheng">
  <meta name="keywords" content="Tianyu Cheng, Portfolio, Personal Website, Projects, Research">
  <meta name="author" content="Tianyu Cheng">

  <!-- Open Graph tags for social sharing -->
  <meta property="og:title" content="Tianyu Cheng - Personal Website">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://ggttaaoo.github.io">
  <meta property="og:description" content="Personal website of Tianyu Cheng">
  <meta property="og:image" content="{{ '/assets/img/profile.jpg' | relative_url }}">
</head>

<body>
  {{ content }}
</body>
</html>
